.info-block {
    margin-bottom: 50px;
    padding: 0 100px;
}

.info-block_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-block_wrapper h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: normal;
    color: #00843D;
}
.info-block_wrapper h2 {
    font-size: 24px;
}
.info-block_wrapper p {
    font-size: 20px;
    color: #333;
    line-height: 1.7;
}
.info-block_wrapper img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.info-block_text {
    padding: 0 50px;
}


.img-vanish {
    display: none;
}