.products-title {
    margin-top: 100px;
}

.products-title_container h1 {
    color: #00843D;
    font-family: 'Times New Roman', Times, serif;
    font-size: 56px;
    line-height: 0.5;
    font-weight: 500;
}