.container.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container.video iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 20px;

}