:root {
  background-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}



.item-left {
  margin-right: auto;
}